<div id = "search">
  <h1 style="font-family: Yesteryear; font-size: 50px"> GitHub. Visualized. </h1>
  <br/>
  <%= form_tag root_path, method: 'get' do %>
    <p>
      <%= text_field_tag :q, params[:q], {placeholder: 'Find a Github User', id: 'search_field'}%>
      <%= submit_tag "Search", name: nil %>
    </p>
  <% end %>
</div>

<div id = "search_results">
<% if current_user %>
  <% if params[:q] %>
    <% if @results["users"].length == 0 %>
      <h3>No results returned.</h3>
    <% else %>
      <p>Search results for: <%= @search %></p>
      <% @results["users"].each do |result| %>
        <p><%= link_to '/select/' + result['login'], method: 'get' do %>
          <%= result["login"] %>
          <% if result["name"] %>
            <%= " - #{result["name"]}" %></p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <p>Please log in to search for users.</p>
<% end %>
</div>