<h1>Git It Together!</h1>

<h4>Find a GitHub user</h4>
<%= form_tag root_path, method: 'get' do %>
  <p>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>

<% if current_user %>
  <% if params[:q] %>
    <% if @results["users"].length == 0 %>
      <h3>No results returned.</h3>
    <% else %>
      <p>Search results for: <%= @search %></p>
      <% @results["users"].each do |result| %>
        <p><%= result["login"] %>
          <% if result["name"] %>
            <%= " - #{result["name"]}" %></p>
          <% end %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <p>Please log in to search for users.</p>
<% end %>