<!DOCTYPE html>
<html>
<head>
  <title>GIT</title>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
	<p><%= link_to 'Logout', destroy_user_session_path(current_user.id) %> Logged in as:</p>
		<% if current_user.name && current_user.name.length > 0 %>
			<%= current_user.name %>
			<%= link_to 'Profile', user_path(current_user.id) %>
		<% else %>
			<p><%= current_user.login %></p>
		<% end %>

<% else %>
	<p><a href='https://github.com/login/oauth/authorize?client_id=<%=ENV["CLIENT_ID"]%>'>Click here</a> to begin!</p>
<% end %>
<%= yield %>
</body>
</html>
