<!DOCTYPE html>
<html>
<head>
  <title>GIT</title>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <link href='http://fonts.googleapis.com/css?family=Yesteryear' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cabin+Condensed:700,400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar' %>
<div id = 'body_container'>
<%= yield %>
</div>
</body>
</html>
