<!DOCTYPE html>
<html>
<head>
  <title>GIT</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>
<body>
<% if current_user %>
	<p><%= link_to 'Logout', destroy_user_session_path(current_user.id) %></p>
<% else %>
	<p><a href='https://github.com/login/oauth/authorize?client_id=<%=ENV["CLIENT_ID"]%>'>Click here</a> to begin!</body>
<% end %>
<%= yield %>
</body>
</html>
